html {
  font-family: "Roboto", sans-serif;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#modal-box {
  padding: 12px 30px;
  background: #00aeef;
  font-size: 16px;
  outline: none;
  border: none;
  color: #ffffff;
}
.button-wrapper {
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 100000;
  /* background-color: rgb(0, 0, 0);  */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
}
.modal-inner-content {
  background: #00aeef;
  padding: 20px;
  color: #ffffff;
}
.modal-inner-content p {
  font-size: 18px;
}
.content {
  text-align: center;
  padding-top: 20px;
}
.close {
  font-size: 50px;
  float: right;
  font-weight: bold;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
